<launch>
  <arg name="crane_id" default="crane_01"/>
  <arg
    name="config_root"
    default="$(find chili_crane_bringup)/../../config"/>

  <include file="$(find chili_crane_bringup)/launch/base_system.launch">
    <arg name="crane_id" value="$(arg crane_id)"/>
    <arg
      name="profile_file"
      value="$(arg config_root)/profiles/mock.yaml"/>
    <arg name="use_mock_hardware" value="true"/>
  </include>
</launch>
